[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile.prod"
dockerContext = "."

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
